.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*.pyzzzz
*.pywzzzz
runs*
logs*
slurm*
save_model*
*.pt
*.pth
*.pkl
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.jsonl.lzma
*.jsonl.zstd
results/